/* styles.css */

h1 {
	font-family: Arial;
	color: hotpink;
	font-size: 220px;
	letter-spacing: 10px;
}

div {
	font-family: Georgia;
	color: dodgerblue;
	font-size: 30px;
	letter-spacing: 5px;
	margin: 30px;
}

.red {
	color: red;
	font-size: 60px;
	font-weight: bold;
	transform: rotate(25deg);
}



